@import '~antd/dist/reset.css';


.nm-app {
  display: flex;
  width: 100%;
}

.nm-layout-resizer {
  background-color: #cbd5e0;
  cursor: ew-resize;
  height: 100vh;
  /* width: 4px; */
}

.nm-map-container {
  width: 50vw;
  height: calc(100vh - 0px);
}

.nm-node-editor {
  /* Take the remaining width */
  flex: 1;
  /* width: 50vw; */
  height: calc(100vh - 0px);
}

.nm-export-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}