@import '~antd/dist/reset.css';


.app {
  display: grid;
  grid-template-columns: 50vw 50vw;
}

.node-editor {
  width: 50vw;
  height: calc(100vh - 2px);
  border: 1px dashed #ccc;
}

.mapbox {
  width: 50vw;
  height: calc(100vh - 2px);
  border: 1px dashed #ccc;
}

.nm-export-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}